.mask {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
}
.mask .defen {
  width: 21.66666667rem;
  padding: 0 1.66666667rem;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}
.mask .defen .jixu {
  float: left;
  width: 9.66666667rem;
  line-height: 2.66666667rem;
  font-size: 1rem;
  background: #18b4ed;
  border: 0.06666667rem solid blue;
  text-align: center;
  color: #fff;
}
.mask .defen .jiaojuan {
  float: right;
  width: 9.66666667rem;
  line-height: 2.66666667rem;
  font-size: 1rem;
  color: blue;
  border: 0.06666667rem solid blue;
  text-align: center;
}
.qiangzhijieshu {
  left: 0;
  top: 0;
  position: fixed;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.qiangzhijieshu .zongdefen {
  color: red;
  font-size: 1.66666667rem;
  line-height: 50vh;
}
.qiangzhijieshu .fanhui {
  color: yellow;
  position: absolute;
  right: 1.66666667rem;
  bottom: 1.66666667rem;
  font-size: 1.66666667rem;
  line-height: 1.66666667rem;
}
